<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312782160042-r1u43qcb30g14mosa9usi6irjevlbsqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312782160042-r1u43qcb30g14mosa9usi6irjevlbsqr</string>
	<key>API_KEY</key>
	<string>AIzaSyCBAYhjtXbTLFb60Vg7Zsm7uZVLHN7G_vM</string>
	<key>GCM_SENDER_ID</key>
	<string>312782160042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NikAlimp.store</string>
	<key>PROJECT_ID</key>
	<string>store-gb</string>
	<key>STORAGE_BUCKET</key>
	<string>store-gb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312782160042:ios:ec3ad37cd17d5e827150d3</string>
</dict>
</plist>